
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* header rules */

header{
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    padding:20px;
    background-color: lightblue;
   
}

.header{
    display: flex;
    background-color:orange;
    height:50px;
    width:80%;
    justify-content: space-between;
    border:1px;
    border-color: black;
    border:dashed;
    padding:10px;

}


  


.unordered-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type:none ;
    
}

.list{
    margin-left:10px;
    flex-basis:30%;
   
}

.logo{
    flex-basis:15%;
    
}

.login{
    flex-basis:15%;
    
}



    
    



    

    
